@import '/src/styles/varibles.scss';

.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        margin-bottom: 15px;

        .label, .value {
            margin: 0;
        }

        .label {
            text-transform: uppercase;
            color: $color-taupe-gray;
            font-size: 10px;
            font-weight: 100;
        }

        .value:not(a) {
            color: $color-sonic-silver;
            font-size: 17px;
        }

        a.value {
            color: $color-primary;
            text-decoration: none;
        }
    }
}
