{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "importOrderSeparation": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 160,
    "proseWrap": "never",
    "quoteProps": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
  }
  