$color-primary: #5489DC;
$color-primary-hover: #2f71d7;
$color-white: #FFFFFF;
$color-taupe-gray: rgba(136, 136, 136, 0.95);
$color-sonic-silver: rgba(119, 119, 119, 0.95);
$color-american-silver-1: #CFCFCF;
$color-american-silver-2: #D1D1D1;
$color-philippine-gray: #8E8E8E;
$color-chinese-silver: #CCCCCC;
$color-gray-1: #7E7E7E;
$color-gray-2: #808080;
$color-pale-blue: #A9C4ED;
$color-smoky-black: #0F0F0F;
$color-yellow-400: #FFC400;
$color-yellow-500: #FFC500;
$color-black: #000000;
$color-red: #DB1F35;
$color-platinum: #E7E7E7;
$color-ufo-green: #40F362;
$color-beau-blue: #B5D1E3;
$color-jet-stream: #B7D9D0;
$color-lavender-gray: #C0C2DA;
$color-pastel-gray: #CFD6C2;
$color-pale-chestnut: #DDBBBA;
$color-desert-sand: #E6C3A4;
$color-tiger-eye: #E78946;

$phone-breakpoint: 640px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$border-radius: 5px;

$button-padding: 8.5px 13px;
