@import '/src/styles/varibles.scss';

.progress {
    height: 2px;
    background-color: $color-american-silver-1;
    border-radius: 50px;
    overflow: hidden;

    &__fill {
        height: 2px;
        border-radius: 50px;
        display: block;

        &--danger {
            background-color: $color-red;
        }
        &--moderate {
            background-color: $color-yellow-500;
        }
        &--success {
            background-color: $color-primary;
        }
    }
}